*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.root{
    background-size: cover;
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url(img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    padding-top: 1%;
    padding-left: 2vw;
    padding-right: 4vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-logo{
    width: 14%;
}

.btn-sign{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e50914;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    /* display: inline-block;*/
    width: fit-content;
}

.btn-sign:hover{
    background-color: #ff0b18;
}

.main-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container{
    width: 50%;
    text-align: center;
    color: white;
}

.main-title{
    font-size: 3.2em;
    margin-bottom: 14px;
    line-height: 1.1em;
}

.sub-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.action{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;

}

.email-container{
    width: 55%;
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input{
    outline: none;
    border: none;
    padding: 20px 10px;
    font-size: 1em;
}

.btn-start{
    cursor: pointer;
    padding: 18px 32px;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    background-color: #e50914;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}

.btn-start:hover{
    background-color: #ff0b18;
}